<h1> Add a new phone </h1>
<a [routerLink]="['']"> Back to list </a>

<form>
  <fieldset>
    <legend> Phone info </legend>
    <label> Brand* </label>
    <input type="text" [(ngModel)]="newPhone.brand" name="brand" required />

    <label> Name* </label>
    <input type="text" [(ngModel)]="newPhone.name" name="name" required />

    <label> Specs </label>
    <input type="text" #spec />
    <button (click)="addSpec(spec.value); spec.value = ''"> add </button>

    <ul>
      <li *ngFor="let spec of newPhone.specs"> {{ spec }} </li>
    </ul>
    <small *ngIf="!newPhone.specs.length"> This phone has no specs :( </small>

    <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  </fieldset>
  <button (click)="submit()"> submit </button>
</form>

<p> {{ feedback }} </p>
