<h1> Phone details </h1>
<a [routerLink]="['']"> Back to list </a>

<div *ngIf="phone">
  <div class="phone-thumbnail">
    <img height="300" [src]="phone.image" />
  </div>
  <button (click)="deletePhone()">Delete this phone</button>
  <div class="phone-info">
    <h2> {{ phone.name }}&nbsp;</h2>
    <h3> {{ phone.brand }} </h3>

    <div *ngIf="phone.specs.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let spec of phone.specs"> {{ spec&nbsp;}} </li>
      </ul>
    </div>
  </div>
</div>
